@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900&display=swap&subset=cyrillic');

@import 'color';
@import 'main';
@import 'danger';


html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $dark-text;
  background-color: white;
}

.container {
  width: 1170px;
  margin: 0 auto;
}
